name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.18', '1.x']
        
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Generate and Check Diff
      run: |
        go install golang.org/x/tools/cmd/goimports@latest
        go generate ./...
        git diff --exit-code
